[core]
	editor = vi
	autocrlf = false
[diff]
	tool = vscode
	colorMoved = default
[difftool "vscode"]
	cmd = code --new-window --wait --diff $LOCAL $REMOTE
[alias]
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[credential]
	helper = osxkeychain
	helper =
