[core]
	editor = vi
	autocrlf = false
	# pager = delta
[gui]
	encoding = utf-8
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[ssh]
	variant = ssh
[pull]
	rebase = false
# [credential]
# 	helper = osxkeychain
# [interactive]
# 	diffFilter = delta --color-only
# [delta]
# 	features = side-by-side line-numbers
