[core]
	editor = vi
	autocrlf = false
[gui]
	encoding = utf-8
[diff]
	tool = meld
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	get = !ghq get
	list = !ghq list
	cd = !ghq look $(ghq list | peco)
[ssh]
	variant = ssh
[ghq]
	root = ~/Documents
